<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505679148356-vos21r36u1e7bda6pui505f3v146kefs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505679148356-vos21r36u1e7bda6pui505f3v146kefs</string>
	<key>API_KEY</key>
	<string>AIzaSyDvmC1N5gnJ9d_4_I7I8R0wqHYd8Q_lfwM</string>
	<key>GCM_SENDER_ID</key>
	<string>505679148356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lionlike.project.MachachaNoti</string>
	<key>PROJECT_ID</key>
	<string>machacha-395b2</string>
	<key>STORAGE_BUCKET</key>
	<string>machacha-395b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505679148356:ios:d325f1b4bc6c7bf0601311</string>
</dict>
</plist>