//
//  Config.xcconfig
//  Machacha
//
//  Created by MacBook on 2023/01/18.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


KAKAO_NATIVE_APP_KEY = 6fe459c79785a83ca978ec8e718fc9de
GOOGLE_CLIENT_ID = 776381547473-r65r2vg0kgg006k79amkaf6l5h0n97tj.apps.googleusercontent.com
GOOGLE_REVERSED_CLIENT_ID = com.googleusercontent.apps.776381547473-r65r2vg0kgg006k79amkaf6l5h0n97tj
NAVER_URL_SCHEME = machacha
