<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>NanumSquareRoundOTFB.otf</string>
		<string>NanumSquareRoundOTFEB.otf</string>
		<string>NanumSquareRoundOTFL.otf</string>
		<string>NanumSquareRoundOTFR.otf</string>
		<string>나눔손글씨 백의의 천사.ttf</string>
		<string>나눔손글씨 느릿느릿체.ttf</string>
	</array>
</dict>
</plist>
